SSH_HOST = '<указать>'
SSH_PORT = '<указать>'
SSH_USER = '<указать>'
SSH_PASSWORD = '<указать>'
BOT_TOKEN = '<указать>'
CHAT_ID = '<указать>'
DB_USER = 'postgres'
DB_PASSWORD = 'P@ssw0rd'
DB_HOST = 'ptdevops-store-main'
DB_PORT = '5432'
DB_DEFAULT_NAME = 'postgres'
DB_CONNECT_NAME = 'db_ptdevops'
